SUPABASE_URL="https://mnnaojacstyjlwunfodz.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ubmFvamFjc3R5amx3dW5mb2R6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk4OTk4NTEsImV4cCI6MjA0NTQ3NTg1MX0.Owlg7z4h3CcYRvN64eVkMBTX37BY_Ds8dDxSn5Pmpt8"